<h4>Movies in our database</h4>
<br>
{% for movie in movies %}
  <h5>{{ movie.label }}</h5>
  <p> Description: {{ movie.field_description.value|striptags }} </p>
  <img src="{{ file_url(movie.field_movie_cover_image.entity.fileuri) }}" alt="">
  <hr>
{% endfor %}
