<h4>Welcome to our movie reservation page</h4>

<form action="">
  <label for="movie-genre">
    Please select movie genre for which you would like to make a reservation:
  </label>

  <select name="movie-genre" id="movie-genre">
    {% for genre in genres %}
      <option value="{{ genre.id }}">{{ genre.name }}</option>
    {% endfor %}
  </select>
  <button type="submit">Search</button>
</form>
