<h1>Exporter page:</h1>
<br>
<form action="/movie-exporter-processing" method="get">
  <label for="extensionType">Choose file type:</label>
  <select name="extensionType" id="extensionType">
    <option value="csv">csv</option>
    <option value="xml">xml</option>
  </select>
  <button>Submit</button>
</form>
