<h4>Welcome to our movie reservation page</h4>

<form action="#">
  <label for="movie-genre">
    Please select movie genre for which you would like to make a reservation:
  </label>

  <select name="movie-genre" id="movie-genre">
    <option value="0">All movies</option>
    {% for genre in genres %}
      <option value="{{ genre.id }}">{{ genre.name }}</option>
    {% endfor %}
  </select>
  <button id="searchButton" type="button">Search</button>
</form>

<div id="moviesByGenre">

</div>


<style>
  .active {
    background-color: #285c91;
  }

  .inactive {
    background-color: white;
  }

</style>
<script>
  //jQuery(document).ready(function)
  jQuery("#searchButton").click(function (){
    var genre = document.getElementById('movie-genre').value;
    console.log(genre);

    jQuery.ajax({
      url: "/start-movie-reservation",
      type: "get",
      data: {"genre": genre},
      success: function (response) {
        console.log(response)
        populateHtml(response);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.log(textStatus, errorThrown);
      }
    });
  })

  function populateHtml(data) {
    let html = "";

    jQuery.each(data, function (k, v) {

      if (v.days_available == null) {
        v.days_available = 'Not available.'
      }

      let days_available_built = ''
      for (let key in v.days_available){ days_available_built += v.days_available[key] + ' ' }

      html += `<br><div class="inactive" id="movie-${v.id}" onclick="toggleActive(this.id)" > <h4>Title: ${v.title} </h4> <br> <img src="${v.image}"> <p>Description: ${v.description} </p> <p> Available days:` + days_available_built + `</p></div><hr>`
    })

    jQuery('#moviesByGenre').html(html);
  }

  function toggleActive(id){
    var clickedDiv = document.getElementById(id)

    if (clickedDiv.className == "inactive") {

      var alreadyActive = document.getElementsByClassName("active");
      console.log(alreadyActive[0])

      // Deactivate another active divs if exist
      for (let i = 0; i < alreadyActive.length; i++) {
        if (typeof alreadyActive[i] !== "undefined" && alreadyActive[i].id != clickedDiv.id) {
          alreadyActive[i].className = "inactive"
          jQuery('#reservationButton').remove()
        }
      }

      clickedDiv.className = "active"
      alreadyActive = []
      jQuery('#'+id).after(`<div id="reservationButton"><button>Reserve movie</button></div>`)

    } else {
      clickedDiv.className = "inactive"
      jQuery('#reservationButton').remove()
    }
  }
</script>
